# APP
APPLICATION_BACK_HOST=localhost
APPLICATION_BACK_PORT=8080
APPLICATION_FRONT_HOST=localhost
APPLICATION_FRONT_PORT=3000

# Database
POSTGRES_URI=postgres://user:password@localhost:5432/noxacloud?sslmode=disable
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=noxacloud

# Stripe
STRIPE_API_KEY=sk_test_your_stripe_key