# APP
APPLICATION_BACKEND=
APPLICATION_FRONTEND=

# Database
POSTGRES_URI=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_URI=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Redis
REDIS_URI=redis://:redis@localhost:6379/0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

# Grafana
GRAFANA_USER=
GRAFANA_PASSWORD=
GRAFANA_PORT=

# Prometheus
PROMETHEUS_PORT=
