// Globals

html, body {
    padding: 0;
    margin: 0;
    background-color: $primary-background-color;
    font-family: $primary-font-family;
}

// Variables (White theme)
$primary-background-color:;
$secondary-background-color:;
$thirdary-background-color:;

$primary-button-color:;
$secondary-button-color:;
$thirdary-button-color:;

$primary-font-color:;
$secondary-font-color:;
$thirdary-font-color:;

$primary-font-family:;
$secondary-font-family:;

$primary-border-color:;
$secondary-border-color:;

$small-border-radius-size:;
$average-border-radius-size:;
$large-border-raduys-size:;